<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/container.css' />

    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->


  </head>
  <body>
    <!-- <h1><%= title %></h1>
    <p>Welcome to <%= title %></p> -->
 <form action="/users/add" method="POST">
    <div class="container">
      <label for="name"><b>Name</b></label>
      <input type="text" placeholder="Enter student name" name="name" required>
  
      <label for="grade"><b>Grade</b></label>
      <input type="number" placeholder="Enter Grade" name="grade" required>

      <!-- input type="number" id="quantity" name="quantity" min="1" max="5" -->


  
      <button type="submit">Add Student</button>
      
    </div>
  
    
  </form>
  <form action="/users/view" method="POST"> 
    <div class="container">
      <button type="submit">View Student</button>
    </div>
  </form>
  </body>
</html>


  

 