<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/container.css' />

    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->


  </head>
  <body>
    <!-- <h1><%= title %></h1>
    <p>Welcome to <%= title %></p> -->
    <form action="/users/delete" method="POST">
    <div class="container">
        <table>
            <tr>
                <th>NAME</th>
                <th>GRADE</th>
                
            </tr>
            <tr>
               
                <td><%= Data[0] ? Data[0].Name : ''%></td>
                <td><%= Data[0] ? Data[0].Grade : ''%></td>
            </tr>
        </table>
      <button type="submit">Delete</button>
      
    </div>
    </form>

    <form action="/users/add" method="POST">
        <div class="container">
            <button type="submit">Back</button>   
        </div>
    </form>
  </body>
</html>
